.new-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.new-form-container li {
    list-style: none;
    padding: 5px 0 5px 0;
}

.create-spot-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-spot-form>label {
    padding-left: 25px;
    height: 75px;
    width: 100%;
    border-radius: 25px;
    font-size: 45px;
    font-weight: bold;
}


.create-spot-form>input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding-left: 25px;
    height: 75px;
    width: 100%;
    border-radius: 25px;
    font-size: 45px;
}

.create-spot-form button {
    margin-top: 50px;
    height: 75px;
    width: 100%;
    font-size: 50px;
}

.spot-upload-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    line-height: 40px;
    border: 2px solid grey;
    width: 400px;
    color: rgb(117,117,117);
    font-style: normal;
    font-weight: lighter;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

#spot-upload-label-id {
    font-weight: 100;
}

#file-uploading {
    margin-left: 10px;
}
