.navBar {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    /* make it fixed */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    z-index: 1;
}

.navBar-sessionLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
}

.navBar-modalLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 85px;

}

.navBar-modalLinks div {
    padding: 5px;
}

.navBar-sessionLinks div {
    margin-left: 10px;
    font-weight: bold;
}

.no-bullets li {
    list-style-type: none;
}


.profile-button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75px;
    height: 45px;
    border-radius: 25px;
    margin-right: 100px;
}

.profile-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: stretch; */
    margin-top: 10px;
    margin-right: 100px;
    border: 1px solid rgb(164, 126, 78);
    border-radius: 25px;
    padding: 25px;
    padding-right: 10px;
    padding-left: 10px;
    right: 10px;
    background-color: white;
    z-index: 1;
    box-shadow: 1px 1px 0px rgb(164, 126, 78);

}

.profile-dropdown li {
    margin-top: 5px;
}
